/* Paleta de colores */
:root {
  --color-bg: #0a0908;
  --color-nav: #0ca3e9;
  --color-text: #eae0d5;
  --color-accent: #c6ac8f;
  --color-button: rgb(94, 80, 63);
}

/* Estilos generales */
body {
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
  
    background: rgb(198,172,143);
background: -moz-radial-gradient(circle, rgba(198,172,143,1) 15%, rgba(234,224,213,1) 80%, rgba(255,255,255,1) 100%);
background: -webkit-radial-gradient(circle, rgba(198,172,143,1) 15%, rgba(234,224,213,1) 80%, rgba(255,255,255,1) 100%);
background: radial-gradient(circle, rgba(198,172,143,1) 15%, rgba(234,224,213,1) 80%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c6ac8f",endColorstr="#ffffff",GradientType=1); 
  color: var(--color-text);
  min-height: 100vh;
 
}


nav{  
 
  .container-fluid{
   
    display: flex;
  
    padding: 0 15% 0 5% ;
    
    a{
      color: var(--color-text);
    }
    
    .nav-link:hover{
      background-color: rgba(255, 255, 255, 0.258);
      transition: 1s;
      
      border-radius: 25%;
    }
    button{
      background-color: var(--color-accent);
    }
  } 
}


/* Sección de Landing Page */
#saga-training {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  overflow: hidden;
}

/* Título y Subtítulo */
#saga-training img {

  animation: fadeInDown 1.5s ease-out;
 }
#saga-training p {
  color: var(--color-bg);
  font-size: 1.5rem;
  margin-top: 1.0rem;
  animation: fadeInUp 1.5s ease-out;
}

/* Efecto de Fade-In para el texto */
@keyframes fadeInDown {
  0% {
      opacity: 0;
      transform: translateY(-50px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
      opacity: 0;
      transform: translateY(50px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

/* Botón de llamada a la acción */
#saga-training .btn-primary {
  margin-top: 1.5rem;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  background-color: var(--color-button);
  border: none;
  color: var(--color-text);
  border-radius: 8px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  animation: fadeInUp 1.5s ease-out;
}

/* Efecto hover del botón */
#saga-training .btn-primary:hover {
  background-color: var(--color-text);
  color: var(--color-bg);
  transform: scale(1.05);
  border-color: var(--color-button);
  border-style: groove;

}


section {
  margin-bottom: 2rem;
}


#sobre-mi p {
  padding: 10px;
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  color: #5e503f;
  font-size: medium; 
  box-shadow: inset 0px 0px 10px 0 rgba(20, 20, 20, 0.2); 
  border-radius: 16px;
}

img {
  transition: transform 0.3s ease-in-out;
}

img:hover {
  transform: scale(1.05);
}
#saga-tl{
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  border-radius: 12px;
  padding: 10px;
  .carousel-item {
    height: 300px; 
  }
  
  .carousel-item img {
    height: 100%; 
    width: 100%;  
    object-fit: cover; 
  }
  
}
#saga-tl h2 {
  text-align: center;
  color: #22333b;
}
#saga-tl h3{
  color:var(--color-button) ;
  text-align: center;
}
#saga-tl ul{
  border-radius: 12px; 
}
#saga-tl p, ul {
  
 text-align: center;
  color: #5e503f;
}
#saga-tl a{
  background-color: var(--color-button);
  color: var(--color-text);
  text-shadow:1px 1px gray;
  box-shadow: 14px 14px 20px 0 rgba(20, 20, 20, 0.3);
  
}
#saga-tl a:hover{
  background-color: white;
  color: black;
}
#saga-tl .botonReserva{
text-align: center;
}

#videos{
  h2{
    color: var(--color-bg);
  }
}

#blog{
  h2, p{
    color: var(--color-bg);
  }
  h3{
    color: var(--color-button);
  }
  article{
    box-shadow: 2px 2px 8px 0 var(--color-button), 4px 4px 16px 0 var(--color-text), 0px 0px 24px 2px var(--color-bg);
    border-radius: 12px;
    border-color: var(--color-button);
    background-color:whitesmoke ;
  }
  button{
    background-color: var(--color-accent);
    a{
      text-decoration: none;
      color: white;
    }
    a:hover{
      
      color: black;
      transition: 1s;
    }
  }
}


/* Ajustes específicos para pantallas pequeñas */
@media (min-width: 1000px) {
  #navbarNav{
      
    display: flex;
   
    flex-direction: row;
    justify-content: space-around;
  }
}


footer {
  margin-top: auto;
  a{color: var(--color-button);}
  a:hover{
    color: white;
    transition: 1s;
  }
}

/* Estilo de los botones */
.btn-outline-light:hover {
  background-color: var(--color-accent);
  color:var(--color-button);
  transition: background-color 0.3s ease;
}

/* Videos responsivos */
.embed-responsive-item  .carousel-item{
  width: 100%;
  height: 315px;
  border-radius: 8px;
  border: none;
  transition: transform 0.3s ease;
}

.embed-responsive-item:hover {
  transform: scale(1.05);
}
