

body{
    margin:0;
    padding-top: 30px;    
}

    /* Estilos generales */
h1, h2 {
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Encabezado del post */
.post-title {
    font-size: 2em;
    
    color: #333;
}

.post-date {
    font-size: 0.9em;
    color: #888;
    margin-bottom: 20px;
}

/* Imágenes */
figure {
    margin: 20px 0;
    text-align: center;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

figcaption {
    font-size: 0.9em;
    color: #666;
    margin-top: 5px;
}

/* Párrafos */
p {
    font-size: 1em;
    margin-bottom: 1.5em;
    color: #444;
}

.highlight {
    background-color: #f0f0f5;
    padding: 10px;
    border-left: 4px solid rgb(94, 80, 63);;
    border-radius: 5px;
}

/* Subtítulos */
h2 {
    font-size: 1.6em;
    color: rgb(94, 80, 63);;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

/* Botón "Back to Posts" */
.btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: rgb(94, 80, 63);;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.btn:hover {
    background-color: #0056b3;
}

/* Responsividad */
@media (max-width: 768px) {
    .container {
        padding: 15px;
    }
    
    h1, h2 {
        font-size: 1.5em;
    }

    .post-title {
        font-size: 1.8em;
    }
}

